.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #4337de;
  color: white;
}

.navbar__logo {
    color: white;
    background-color: lightblue;
    border-color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  gap: 25px;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__links a:hover {
  text-decoration: underline;
}


h1 {
    color: rgb(202, 30, 58);
    background-color: pink;
    border: 4px solid rgb(234, 14, 51);
    border-radius: 12px;
    padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.gallery {
  animation: slideIn 1s ease-out;
}

.box{
    color: teal;
    background-color:rgb(173, 255, 47);
    border: 2px solid green;
    border-radius:8px;
    padding: 10px;
    height: 300px;
    width: 200px;
    margin:0 auto;

}
.card {
    border: 1px solid lightseagreen;
    border-radius: 12px;
    padding: 20px;
    height: 300px;
    width: 200px;
    margin:0 auto;
    margin-top: 20px;
}
.card .card-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.card .card-text{
    color: blue;
    font-size: 18px;
    text-align: center;
}
.head{
    text-align: left;
}
.image-one{
    height: 300px;
    width:300px;
    border-radius: 50%;
}

@keyframes popIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.image-one {
  animation: popIn 3s ease-out;
}

.body{
    color: green;
    font-size:20px;
    font-weight: bold;

}
